<% content_for :title, "Edit #{@template.name}" %>

<div class="container projects-new-container">
  <div class="row center-row">
    <div class="col-12">
      <h1 class="submain-heading">Edit <%= @template.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-container">
        <%= render "form", template: @template %>
      </div>
    </div>
  </div>
</div>
